.social {
    display: flex;
    justify-content: center;
}


.logo {
    padding-right: 1vh;
    display: flex;
    justify-content: center;
}

.today {
    display: flex;
    justify-content: center;
    font-size: 1vh;
    color: var(--LimeGreen);
    padding: 2.5vh;
}


.number {
    text-align: center;
    font-size: 3vh;
    padding-top: 2vh;
}

.fall {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5vh;
}

.containerB {
    background-color: var(--DarkDesaturatedBlueCardBG);
    padding: 3vh 2vh 1vh 2vh;
    color: var(--WhiteText);
    border-radius: 0.5vh;
    width: 25vh;
}



.user, .fall {
    color: var(--DesaturatedBlueText);
}

@media only screen and (max-width: 375px) {
   .containerB {
    width: 45vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 1.5vh;
    border-top: chocolate solid 2px;


}
 
}




