.mediaContainer2 {
    padding: 5.5vh 15vh 5.5vh 10.5vh;
    background-color: var(--VeryDarkBlueBG);
}

.mediacontbottom {
    color: var(--WhiteText);
}




@media only screen and (max-width: 375px) {
    .mediaContainer2{
        display: block;
        padding: 3vh;
        font-size: 2vh;
    }
  }