
.containerS {
    background-color: var(--DarkDesaturatedBlueCardBG);
    color: var(--WhiteText);
    padding: 3vh;
    border-radius: 0.5vh;
    height: 9vh;
    width: 23vh;
}


.Ssocial {
    display: flex;
    justify-content: space-between;
}


.proc {
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
}



.SNumbers {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5vh;
}


.Spage {
    color: var(--DesaturatedBlueText);
}


.Value {
    font-size: 2rem;
}
