.mediaContainer {
    padding: 5.5vh 11vh 5.5vh 11vh;
    background-color: var(--VeryDarkBlueBG);
    display: flex;
    justify-content: space-between;
}

.left h1 {
    color: var(--WhiteText);
}


.left h3, .switch {
    color: var(--DesaturatedBlueText);
}


.switch {
    align-items: center;
}

